<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
  </head>
  <body>
  <section class="section">
    <div class="container is-fluid">
      <h1 class="title">
        Edit a Todo item:
      </h1>
   
    </div>

    <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Edit a Todo item:
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <form method="POST">
    {% csrf_token %}
      {{ form.as_p }}
    
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
        </div>
        <footer class="card-footer">
            <div>
                <p class="control">
                    <button type="submit" class="button is-link">
                    Update Item
                    </button>
                </p>
            </div>
        </footer>
        </form>
        </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
            <strong>Project</strong> by <a href="https://github.com/GiselleNessi">Giselle Chacon</a>
            </p>
        </div>
    </footer>

  </section>
  </body>
</html>

